.header {
  border-bottom: 1px solid #e7e9fc;
}

.header > .container {
  display: flex;
}
.main-nav {
  margin-left: 76px;
  margin-right: auto;
}
.main-nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.main-nav-link {
  display: block;
  padding: 24px 0;
  font-weight: 500;
}
.main-nav-link:hover,
.main-nav-link:focus {
  font-weight: 500;
  color: #404bbf;
}
.contacts {
  display: flex;

  gap: 40px;
}
.contacts-list {
  display: flex;
  gap: 40px;
  align-items: center;
}
.contacts-item {
}

.contacts-link {
  display: block;
  padding: 24px 0;
  font-weight: 400;
  color: #434455;
}
.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}
