.portfolio {
  background: #ffffff;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.portfolio-item {
  width: 360px;
  border: 1px solid #e7e9fc;
  box-sizing: border-box;
}

/* Область картинки + overlay */
.portfolio-image {
  position: relative;
  width: 360px;
  height: 300px;
  overflow: hidden;
}

/* Картинка */
.portfolio-ill {
  display: block;
  width: 360px;
  height: 300px;
  object-fit: cover;
}

/* Синий блок */
.portfolio-overlay {
  position: absolute;
  left: 0;
  bottom: 0;

  width: 100%;
  height: 100%;

  padding: 40px 32px;
  box-sizing: border-box;

  background-color: #404bbf;

  transform: translateY(100%);
  transition: transform 500ms ease;

  z-index: 2;
}

/* Текст внутри синего блока */
.portfolio-overlay p {
  margin: 0;
  color: #ffffff;
  font-size: 18px;
  line-height: 1.5;
}

/* Выезд блока при наведении */
.portfolio-image:hover .portfolio-overlay,
.portfolio-image:focus .portfolio-overlay {
  transform: translateY(0);
}

/* Нижняя часть карточки */
.portfolio-content {
  padding: 32px 16px;
  background-color: #ffffff;
}

.portfolio-website {
  margin: 0 0 8px;

  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;

  color: #2e2f42;
}

.portfolio-information {
  margin: 0;

  font-size: 16px;
  line-height: 1.5;

  color: #434455;
}
